.contenedor{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 15px rgba(34, 113, 209, 1); 
    background-color: #000000;
    padding: 20px;
}

.logo{
    width: 168px;
    height: 40px;

}

@media (max-width: 570px){
    .contenedor{
        display: none;
    }

    

}