
.modalTitulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 8px; 
  background-color: #03122F;
  color:var(--color--quinto);
  }

.modalContenedor{
  background-color:#03122F;   
  color: var(--color--quinto);
  overflow: hidden;
    
}
  
.formularioPersonalizado {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    
}

